<section class="home-container">
  <h2>Bienvenido al sistema de gestión DyA Minimarket</h2>

  <!-- Panel resumen -->
  <div class="resumen-metricas">
    <div class="card-metrica">
      <h3>{{ totalUsuarios }}</h3>
      <p>Usuarios</p>
    </div>
    <div class="card-metrica">
      <h3>{{ totalProveedores }}</h3>
      <p>Proveedores</p>
    </div>
    <div class="card-metrica">
      <h3>{{ totalProductos }}</h3>
      <p>Productos</p>
    </div>
    <div class="card-metrica">
      <h3>{{ totalDespachos }}</h3>
      <p>Despachos</p>
    </div>
  </div>
  <div class="tabla-mas-vendidos">
  <h3>📦 Productos más vendidos</h3>
  <table>
    <thead>
      <tr>
        <th>SKU</th>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productosMasVendidos">
        <td>{{ p.sku }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.cantidad }}</td>
        <td>
            <span [ngClass]="obtenerClaseEstado(p.codEstado.estado ?? '')">
              {{ p.codEstado.estado }}
            </span>
          </td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- Gráficos -->
  <div class="graficos-container">
    <google-chart
      [type]="chartDespachos.type"
      [data]="chartDespachos.data"
      [options]="chartDespachos.options"
      [width]="chartDespachos.width"
      [height]="chartDespachos.height">
    </google-chart>

    <google-chart
      [type]="chartProductos.type"
      [data]="chartProductos.data"
      [options]="chartProductos.options"
      [width]="chartProductos.width"
      [height]="chartProductos.height">
    </google-chart>
  </div>
</section>

