<section class="agregar-requerimiento-container">
  <form [formGroup]="detalleForm" (ngSubmit)="agregarDetalle()" novalidate class="formulario-requerimiento">
    <h2>Registrar nuevo Requerimiento</h2>


    <div class="grupo-formulario">
      <label for="sku">SKU:</label>
      <input id="sku" formControlName="sku" />
      <span class="mensaje-error" *ngIf="skuError">{{ skuError }}</span>

      <label for="cantidad">Cantidad:</label>
      <input id="cantidad" type="number" formControlName="cantidad" />

      <button type="submit" [disabled]="detalleForm.invalid">Agregar producto</button>
    </div>

    <div *ngIf="detalles.length > 0" class="tabla-detalles">
      <h3>Productos agregados:</h3>
      <table>
        <thead>
          <tr>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of detalles">
            <td>{{ d.codProducto.sku }}</td>
            <td>{{ d.codProducto.nombre }}</td>
            <td>{{ d.cantidad }}</td>
          </tr>
        </tbody>
      </table>
      <div class="formulario-botones">
        <button (click)="guardar()">Guardar requerimiento</button>
        <button (click)="cancelarRegistro()">Cancelar</button>
      </div>
    </div>
  </form>
</section>