<div class="mobile-header" [class.active]="menuActivo">
    <!-- Botón de menú tipo hamburguesa, que emite el evento "toggleMenu" para abrir/cerrar el sidebar -->
    <button class="hamburguesa" (click)="toggleMenu.emit()">☰</button>

    <!-- Muestra el nombre de la vista actual cuando el menú está cerrado -->
    <span *ngIf="!menuActivo">{{ vistaActual }}</span>

    <!-- Logo del sistema que aparece cuando el menú está activo -->
    <div class="side-logo" *ngIf="menuActivo">
        <img style="min-width: 50px;" width="50" height="50" src="assets/logo.png" alt="Logo DyA Minimarket"
            class="logo">
        <span>DyA Minimarket</span>
    </div>
</div>