<div class="usuarios-header">
  <h2>Usuarios</h2>
  <button class="usuarios-btn-nuevo" (click)="irANuevoUsuario()">Nuevo Usuario</button>
</div>
<div class="usuarios-tabla-wrap">
    <table class="usuarios-tabla">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>DNI</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios" class="usuarios-fila">
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.dni }}</td>
          <td>{{ usuario.rol?.nombre }}</td>
          <td class="usuarios-acciones">
            <button class="btn-editar" (click)="editarUsuario(usuario.id!)">Editar</button>
            <button class="btn-eliminar" (click)="eliminarUsuario(usuario.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



