<div class="sidebar-main" [class.active]="menuActivo">
  <!-- Contenedor principal del sidebar, que se activa/desactiva según el estado de "menuActivo" -->
  <div class="sidebar-container">
    <div class="sidebar-header">
      <!-- Sección del logo del sistema -->
      <div class="side-logo">
        <img
          style="min-width: 50px"
          width="50"
          height="50"
          viewBox="0 0 50 50"
          fill="none"
          src="assets/logo.png"
          alt="Logo DyA Minimarket"
          class="logo"
        />
        <span>DyA Minimarket</span>
      </div>
    </div>
    <div class="sidebar-menu">
      <!-- Menú principal dividido en secciones -->
      <div style="display: flex; flex-direction: column">
        <div class="side-subtitle">MENU</div>
        <div class="side-navs">
          <!-- Opción de navegación: Inicio -->
          <div
            class="nav-item"
            routerLink="/dashboard/inicio"
            routerLinkActive="active"
            (click)="cerrarSidebar()"
          >
            <svg
              class="side-navIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="24px"
              height="24px"
              fill="none"
              viewBox="0 0 256 256"
            >
              <path
                d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z"
                fill="#FFFFFF"
              ></path>
            </svg>
            <span>Inicio</span>
          </div>
        </div>
        <!-- Sección de almacén -->
        <div *ngIf="puedeVerAlmacen()">
          <div class="side-subtitle">ALMACÉN</div>
          <div class="side-navs">
            <div
              class="nav-item"
              routerLink="/dashboard/almacen/inventario"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Inventario</span>
            </div>
            <div
              class="nav-item"
              routerLink="/dashboard/almacen/ingreso-producto"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Ingreso de Producto</span>
            </div>
          </div>
        </div>
        <!-- Sección de administración -->
        <div *ngIf="puedeVerAdministracion()">
          <div class="side-subtitle">ADMINISTRACIÓN</div>
          <div class="side-navs">
            <div
              class="nav-item"
              routerLink="/dashboard/administracion/usuarios"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Usuarios</span>
            </div>
            <div
              class="nav-item"
              routerLink="/dashboard/administracion/proveedores"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M247.42,117l-14-35A15.93,15.93,0,0,0,218.58,72H184V64a8,8,0,0,0-8-8H24A16,16,0,0,0,8,72V184a16,16,0,0,0,16,16H41a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,247.42,117ZM184,88h34.58l9.6,24H184ZM24,72H168v64H24ZM72,208a16,16,0,1,1,16-16A16,16,0,0,1,72,208Zm81-24H103a32,32,0,0,0-62,0H24V152H168v12.31A32.11,32.11,0,0,0,153,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,184,208Zm48-24H215a32.06,32.06,0,0,0-31-24V128h48Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Proveedores</span>
            </div>
          </div>
        </div>
        <!-- Sección de logística -->
        <div *ngIf="puedeVerLogistica()">
          <div class="side-subtitle">LOGÍSTICA</div>
          <div class="side-navs">
            <div
              class="nav-item"
              routerLink="/dashboard/logistica/requerimiento"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Requerimiento</span>
            </div>
            <div
              class="nav-item"
              routerLink="/dashboard/logistica/cotizacion"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Cotización</span>
            </div>
            <div
              class="nav-item"
              routerLink="/dashboard/logistica/orden-compra"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Orden de Compra</span>
            </div>
            <div
              class="nav-item"
              routerLink="/dashboard/logistica/despacho"
              routerLinkActive="active"
              (click)="cerrarSidebar()"
            >
              <svg
                class="side-navIcon"
                xmlns="http://www.w3.org/2000/svg"
                width="24px"
                height="24px"
                fill="none"
                viewBox="0 0 256 256"
              >
                <path
                  d="M247.42,117l-14-35A15.93,15.93,0,0,0,218.58,72H184V64a8,8,0,0,0-8-8H24A16,16,0,0,0,8,72V184a16,16,0,0,0,16,16H41a32,32,0,0,0,62,0h50a32,32,0,0,0,62,0h17a16,16,0,0,0,16-16V120A7.94,7.94,0,0,0,247.42,117ZM184,88h34.58l9.6,24H184ZM24,72H168v64H24ZM72,208a16,16,0,1,1,16-16A16,16,0,0,1,72,208Zm81-24H103a32,32,0,0,0-62,0H24V152H168v12.31A32.11,32.11,0,0,0,153,184Zm31,24a16,16,0,1,1,16-16A16,16,0,0,1,184,208Zm48-24H215a32.06,32.06,0,0,0-31-24V128h48Z"
                  fill="#FFFFFF"
                ></path>
              </svg>
              <span>Despacho</span>
            </div>
          </div>
        </div>
        <!-- sidebar.component.html -->
        <div class="side-subtitle">PANTALLA Y ACCESIBILIDAD</div>
        <div class="admin-controls">
          <!-- Botón tema -->
          <button
            class="admin-theme-toggle"
            (click)="toggleTheme()"
            [attr.aria-label]="
              isDarkMode ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'
            "
            [attr.aria-pressed]="isDarkMode"
          >
            <svg
              *ngIf="!isDarkMode"
              class="side-navIcon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <circle cx="12" cy="12" r="5" />
              <line x1="12" y1="1" x2="12" y2="3" />
              <line x1="12" y1="21" x2="12" y2="23" />
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
              <line x1="1" y1="12" x2="3" y2="12" />
              <line x1="21" y1="12" x2="23" y2="12" />
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
            </svg>
            <svg
              *ngIf="isDarkMode"
              class="side-navIcon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
            </svg>
          </button>

          <!-- Botón aumentar fuente -->
          <button
            class="admin-font-toggle"
            (click)="increaseFont()"
            aria-label="Aumentar tamaño de fuente"
          >
            A+
          </button>

          <!-- Botón reducir fuente -->
          <button
            class="admin-font-toggle"
            (click)="decreaseFont()"
            aria-label="Reducir tamaño de fuente"
          >
            A-
          </button>
        </div>

        <!-- Cerrar sesión -->
        <div class="side-navs">
          <div class="nav-item" (click)="cerrarSesion()">
            <svg
              class="side-navIcon"
              xmlns="http://www.w3.org/2000/svg"
              width="24px"
              height="24px"
              fill="none"
              viewBox="0 0 256 256"
            >
              <path
                d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"
                fill="#FFFFFF"
              ></path>
            </svg>
            <span>Cerrar sesión</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
