<nav class="sidebar" [class.active]="menuActivo">
    <ul>
        <li class="dropdown" [class.active]="seccionActiva === '/dashboard/inicio'">
            <span routerLink="/dashboard/inicio" (click)="setActiveSection('/dashboard/inicio')">Inicio</span>
        </li>
        <li class="dropdown">
            <span (click)="toggleSubmenu('almacen')">Almacén</span>
            <ul [class.active]="submenuActivo['almacen']">
                <li [class.active]="seccionActiva === '/dashboard/almacen/inventario'">
                    <a routerLink="/dashboard/almacen/inventario"
                        (click)="setActiveSection('/dashboard/almacen/inventario')">Inventario</a>
                </li>
                <li [class.active]="seccionActiva === '/dashboard/almacen/ingreso-producto'">
                    <a routerLink="/dashboard/almacen/ingreso-producto"
                        (click)="setActiveSection('/dashboard/almacen/ingreso-producto')">Ingreso de Producto</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <span (click)="toggleSubmenu('administracion')">Administración</span>
            <ul [class.active]="submenuActivo['administracion']">
                <li [class.active]="seccionActiva === '/dashboard/administracion/usuarios'">
                    <a routerLink="/dashboard/administracion/usuarios"
                        (click)="setActiveSection('/dashboard/administracion/usuarios')">Usuarios</a>
                </li>
                <li [class.active]="seccionActiva === '/dashboard/administracion/tipo-proveedor'">
                    <a routerLink="/dashboard/administracion/tipo-proveedor"
                        (click)="setActiveSection('/dashboard/administracion/tipo-proveedor')">Tipo de Proveedor</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <span (click)="toggleSubmenu('logistica')">Logística</span>
            <ul [class.active]="submenuActivo['logistica']">
                <li [class.active]="seccionActiva === '/dashboard/logistica/requerimiento'">
                    <a routerLink="/dashboard/logistica/requerimiento"
                        (click)="setActiveSection('/dashboard/logistica/requerimiento')">Requerimiento</a>
                </li>
                <li [class.active]="seccionActiva === '/dashboard/logistica/cotizacion'">
                    <a routerLink="/dashboard/logistica/cotizacion"
                        (click)="setActiveSection('/dashboard/logistica/cotizacion')">Cotización</a>
                </li>
                <li [class.active]="seccionActiva === '/dashboard/logistica/orden-compra'">
                    <a routerLink="/dashboard/logistica/orden-compra"
                        (click)="setActiveSection('/dashboard/logistica/orden-compra')">Orden de Compra</a>
                </li>
                <li [class.active]="seccionActiva === '/dashboard/logistica/despacho'">
                    <a routerLink="/dashboard/logistica/despacho"
                        (click)="setActiveSection('/dashboard/logistica/despacho')">Despacho</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>