<div class="cotizacion-container" *ngIf="!mostrarRegistrar">
    <div class="cotizacion-header">
        <h2>Cotizaciones</h2>
        <button class="cotizacion-btn-nuevo" (click)="irANuevaCotizacion()">Nueva Cotizacion</button>
    </div>
    <div class="cotizacion-tabla-wrap">
        <table class="cotizacion-tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Fecha Venc</th>
                    <th>Requerimiento</th>
                    <th>Estado</th>
                    <th>Detalle</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of cotizaciones">
                    <td>{{ c.id }}</td>
                    <td>{{ c.fecha }}</td>
                    <td>{{ c.fechaVencimiento }}</td>
                    <td>{{ c.codRequerimiento }}</td>
                    <td>{{ c.codEstado }}</td>
                    <td>{{ 'c.detalles' }}</td>
                    <td>
                        <button (click)="editar(c)">Editar</button>
                        <button (click)="eliminar(c.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="registrar-container" *ngIf="mostrarRegistrar">
    <app-registrar (cancelar)="onCancelarRegistrar()"></app-registrar>
</div>
