@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', Sans-serif;
    font-feature-settings: none;
    font-variant-ligatures: none;
}
