<section class="agregar-requerimiento-container">
  <form [formGroup]="formulario" (ngSubmit)="guardar()" novalidate class="formulario-requerimiento">
    <h2>Registrar Requerimiento</h2>

    <div class="grupo-formulario">
      <label for="fecha">Fecha</label>
      <input id="fecha" formControlName="fecha" type="date" />
      <span class="mensaje-error" *ngIf="formulario.get('fecha')?.touched && formulario.get('fecha')?.invalid">
        * La fecha es obligatoria
      </span>
    </div>

    <div formArrayName="detalles">
      <div *ngFor="let detalle of detalles.controls; let i = index" [formGroupName]="i" class="detalle-producto">
        <div class="grupo-formulario">
          <label>Producto</label>
          <input type="number" formControlName="codProducto" placeholder="ID Producto" />
          <label>Cantidad</label>
          <input type="number" formControlName="cantidad" placeholder="Cantidad"/>
          <button type="button" (click)="eliminarDetalle(i)">Eliminar</button>
        </div>
        <div class="grupo-formulario">
          <span class="mensaje-error"
            *ngIf="detalle.get('codProducto')?.touched && detalle.get('codProducto')?.invalid">
            * El producto es obligatorio
          </span>
          <span class="mensaje-error" *ngIf="detalle.get('cantidad')?.touched && detalle.get('cantidad')?.invalid">
            * La cantidad es obligatoria y debe ser mayor a 0
          </span>
        </div>
      </div>
    </div>
    <div class="formulario-botones">
      <button type="button" [disabled]="detalles.invalid" (click)="agregarDetalle()">Agregar producto</button>
      <button type="submit" [disabled]="formulario.invalid">Guardar Requerimiento</button>
      <button type="button" class="btn-cancelar" (click)="cancelar.emit()">Cancelar</button>
    </div>
  </form>
</section>